.inactive {
  display:none;
}

.navigation {
  text-align: center;
  text-align: center;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 1;

}

.main-section {
  width: 87%;
  margin: 0 auto;
  padding-top: 147px;
}

.listing-containers {
  vertical-align: top;
}
